*{margin: 0; padding: 0}
body{background-color: white;margin: 0;padding: 0;width: 100%;height: 100%; margin-right: auto; margin-left: auto; overflow: hidden;background: #000000 url(https://image.ibb.co/iAH8YT/ANIbg.gif) scroll repeat}
.overlay {overflow: hidden;position: absolute;width: 100%;height: 0;top: 0;z-index: 2;background-image: url("../img/back.gif");background-repeat: no-repeat;background-size: 100%; transition: height 1s ease-in-out}
.overlay.open {height: 100%}
.overlay.open .link-wrapper {opacity: 1}
.overlay .link-wrapper {position: absolute;width: 100%;height: auto;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;transition: opacity 300ms ease 300ms}
.overlay .link-wrapper a {position: relative;font-family: Helvetica;font-weight: bold;font-size: 40px;line-height: 60px;color: white;outline: none;border: none;text-decoration: none;text-transform: uppercase;display: block;text-align: center;padding-bottom: 2px}
.overlay .link-wrapper a span {display: inline-block}
.overlay .link-wrapper a span:after {content: '';display: block;margin: auto;height: 5px;width: 0px;background: transparent;transition: width 300ms ease, background-color 300ms ease}
.overlay .link-wrapper a:hover {color: white}
.overlay .link-wrapper a:hover span:after {width: 100%;background-color: white}
.navigation {width: 100%;height: 40px;z-index: 400;position: absolute}
.burger_deluxe {position: absolute;top: 15px;right: 15px;cursor: pointer;width: 34px;height: 40px;z-index: 3}
.burger_deluxe .burger_global {position: absolute;border-top: 5px solid white;width: 100%}
.burger_deluxe .burger_global.top_bun {top: 0;transition: transform 500ms ease, border 500ms ease;transform-origin: left center}
.burger_deluxe .burger_global.patty {top: 12px;transition: opacity 500ms ease}
.burger_deluxe .burger_global.bottom_bun {top: 24px;transition: transform 500ms ease, border 500ms ease;transform-origin: left center}
.burger_deluxe.open span {border-color: white}
.burger_deluxe.open .top_bun {transform: rotate(45deg)}
.burger_deluxe.open .patty {opacity: 0}
.burger_deluxe.open .bottom_bun {transform: rotate(-45deg)}

#mainImg{width: 100%;text-align: right}

section#bestPage #best1{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 10px}
section#bestPage #best1 img{width: 100%}
section#bestPage #best2{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 25%}
section#bestPage #best2 img{width: 100%}
section#bestPage #best3{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 50%}
section#bestPage #best3 img{width: 100%}
section#bestPage #best4{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 75%}
section#bestPage #best4 img{width: 100%}
section#bestPage #best5{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 10px}
section#bestPage #best5 img{width: 100%}
section#bestPage #best6{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 25%}
section#bestPage #best6 img{width: 100%}
section#bestPage #best7{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 50%}
section#bestPage #best7 img{width: 100%}
section#bestPage #best8{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 75%}
section#bestPage #best8 img{width: 100%}

section#ost #tabMenu1{background-image: url("../img/tabMenu1.png"); background-size: 100%}
section#ost #tabMenu2{background-image: url("../img/tabMenu2.png"); background-size: 100%}
section#ost #tabMenu3{background-image: url("../img/tabMenu3.png"); background-size: 100%}
section#ost #tabMenu4{background-image: url("../img/tabMenu4.png"); background-size: 100%}
section#ost .vinyl{width: 700px; height: 700px; margin-left: auto; margin-right: auto; background: url("../img/vinyl.png") top center no-repeat;background-size: 100%; animation: spin 4s linear infinite; animation-play-state: paused}
section#ost .vinyl:hover {animation-play-state: running;border: solid white 1px;border-radius:100%;}
section#ost{padding-top: 50px}
@keyframes spin {100% {transform: rotate(1turn);}}
section#ost a{text-decoration:none}
section#ost ul{list-style-type:none}
section#ost .tab-menu ul{display:block;margin-left: 20%;margin-top: 4%}
section#ost .tab-menu li{width:150px;height: 150px}
section#ost .tab-menu li a{position:relative;display:block;width:100%;height:100%;text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
section#ost .tab-menu li a.selected{background-color:rgba(0, 255, 13, 0.541);cursor:default}
section#ost .tab-container{width:800px;margin:0 auto;position: absolute; left:40%; top:5%}
section#ost .tab-container .tab-content{display:none;padding:30px;box-sizing:border-box}
section#ost .tab-container .tab-content.selected{display:block} 

section#character .pop-up {border: 3px solid black;border-radius: 5px;height: 60%;width: 40%;background: #fff;transition: all 0.3s ease;position: absolute}
section#character .pop-up1 {top: 10%;left: 30%}
section#character .pop-up2 {top: 20%;left: 15%}
section#character .pop-up3 {top: 30%;left: 40%}
section#character .top-border {background: repeating-linear-gradient(130deg,#000,#000 5px,#fff 5px,#fff 10px
);height: 30px;border-bottom: 3px solid #000}
section#character .close-button {height: 22px;width: 22px;background: red;border-radius: 100%;position: relative;top: 3px;left: 3px;cursor: pointer}
section#character .message {color: red;font-size: 24px;font-family: sans-serif;margin: 20px}

section#endand img{position: absolute; left: 10%}
section#endand p{position: absolute; width: 25%; color: white; top: 55%; left: 21%}

section#video {text-align: center}
section#video a, a:visited {color: white}
  
  .youtube {
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      display: block;
      overflow: hidden;
      transition: all 200ms ease-out;
      cursor: pointer;
      margin: 40px auto 0 auto;
  }
  
  iframe {
    margin: 40px auto 0 auto;
  }
  
  .youtube .play {
      background: url("../img/play.png") no-repeat center center;
      background-size: 100px 100px;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .8;
      filter: alpha(opacity=80);
      transition: all 0.2s ease-out;
  }
  
  .youtube .play:hover {
      opacity: 1;
      filter: alpha(opacity=100);
  }
  
  .p {
    margin-top: 60px;
  }
.gallery{width: 900px; margin-right: auto; margin-left: auto; padding-top: 80px}
.gallery .view{overflow: hidden; position: relative; width: 100%; /* 위에를 상속 받아서 지금 900px 상태 */ height: 660px}
.gallery .view .view-container{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
.gallery .view-container::after{content: ""; display: block; position: relative; clear: both}
.gallery .view-container .view-item{float: left; width: 900px; height: 660px}
.gallery .view-item img{display: inline-block; width: 100%; vertical-align: top}
/* .gallery .view-item img{display: inline-block; width: 100%; height: 100%; vertical-align: top; object-fit: cover} */
.list{margin-top: 20px; margin-right: -10px; margin-left: -10px}
.list li{display: inline-block; width: 25%; padding-right: 10px; padding-left: 10px; vertical-align: top; box-sizing: border-box}
.list li a{display: block; position: relative; width: 100%; cursor: pointer}
#thumb1{position: absolute; width: 10%; top: 10%; left: 5%}
#thumb2{position: absolute; width: 10%; top: 30%; left: 5%}
#thumb3{position: absolute; width: 10%; top: 50%; left: 5%}
#thumb4{position: absolute; width: 10%; top: 70%; left: 5%}
.list li a img{display: inline-block; width: 100%; vertical-align: top}
/* .list li a::before{content: ""; display: block; position: absolute; width: 100%; height: 100%; background-color: red; opacity: 0.0} */
.list li a::before{content: ""; display: block; position: absolute; top: 0;left: 0; width: 100%; height: 100%; border: 0px solid white; box-sizing: border-box; -webkit-transition: border 120ms ease-in-out; -moz-transition: border 12-ms ease-in-out; -o-transition: border 120ms ease-in-out; -ms-transition: border 120ms ease-in-out; transition: border 120ms ease-in-out}
.list li.selected a{cursor: default}
.list li a:hover::before, .list li.selected a::before{border-width: 4px}



section#guestbook #list_section {text-align: center}
section#guestbook h1 {color: white;margin: 0px auto;padding: 20px}
section#guestbook ul {padding: 0}
section#guestbook li {background-color: #fff;color: #000;font-size: 20px;list-style-type: none;width: 20%;margin: 0px auto;border-radius: 3px;border: 1px solid #000;padding: 10px;margin-bottom: 10px}
section#guestbook p {background-color: #fff;color: #666;padding: 10px;display: inline-block;margin: 20px auto 20px auto;width: 80%;border-radius: 5px;text-align: center;}
section#guestbook .item {background-color: #fff;color: #000}
section#guestbook input[type='text'] {font-size: 12px;padding: 6px;border: 1px solid #000;border-radius: 3px}
section#guestbook input[type='submit'] {background-color: #fff;color: #000;border-radius: 8px;border: none;padding: 5px;}
section#guestbook #newItemButton {display: none}
section#guestbook#itemField {margin-top: 60px;width: 10%}

section#endand h1{color: white}